@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {

    --black: #373F51;
    --green: #0CF574;
    --red: #EF5D60;
    --yellow: #E3B23C;
    --white: #D8DBE2;


    background-color: #373F51;

}

p,
body,
select,
area,
button, h1,h2,
input {
    font-family: 'Roboto Condensed', sans serif;
}

p {
    font-size: 14px;
    color: #D8DBE2;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 44px;
    color: var(--green);
}

h2 {
    font-size: 24px;
    color: var(--white);
}

button {
    font-family: 'Roboto Condensed', sans serif;
    background-color: #373F51;
    color: var(--green);
    padding: 8px;
    border-radius: 16px 16px 16px 16px;
    border-color: var(--green);
    font-size: 14px;

}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    padding: 0px 100px;
    height: fit-content;
}